@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-full selection:bg-managebrightred selection:text-white;
  }

  body {
    @apply text-managedarkblue400 antialiased scrollbar-thin scrollbar-thumb-rounded scrollbar-track-transparent scrollbar-thumb-managedarkblue100;
  }

  a {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer components {
  .text {
    @apply mb-9 text-base text-managedarkgray;
  }

  .nav-link-primary {
    @apply text-base hover:text-managedarkgray lg:text-sm;
  }

  .button {
    @apply animate-button-pop rounded-3xl py-3 px-8 text-sm shadow-2xl transition-all duration-300 ease-in-expo will-change-transform hover:bg-managebrightredlight focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-managebrightredlight active:focus:scale-95;
  }

  .social-link-item svg {
    @apply transition-all duration-300 ease-in-out will-change-transform hover:scale-125 hover:text-managebrightred;
  }
}

@layer utilities {
}

/* swiper overrides */
.swiper {
  overflow: visible !important;
}

.swiper-pagination {
  @apply -bottom-8 block md:hidden;
  transform: translate3d(0, 3rem, 0) !important;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: theme(colors.managebrightred);
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  @apply border-2 border-managebrightred;
}
